.panel-heading.note-toolbar .note-style .dropdown-menu,
.panel-heading.note-toolbar .note-font .dropdown-menu {
    min-width: 245px;
    padding: 5px;
}

.panel-heading.note-toolbar .note-style .dropdown-menu > div:first-child,
.panel-heading.note-toolbar .note-font .dropdown-menu > div:first-child {

    margin-right: 5px;

}
